body {
    background: bisque;
}

label {
    font-weight: bold;
}

textarea {
    background: #c4af89;
    resize: none;
    width: 60%;
    height: 200px;
}

button {
    background: #b3af93;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}