/* Styling for the html */
body {
    background: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    font-weight: bold;
}

textarea {
    background: #c4af89;
    resize: none;
    width: 60%;
    height: 200px;
}

button {
    background: #b3af93;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

#wrapper > div {
    margin-left: 10px;
    margin-top: 20px;
    width: 150px;
    height: 200px;
    display: none;
    border-radius: 10px;
    padding: 20px;
}

#wrapper {
    display: flex;
}

#hate_speech {
    background: red;
}

#violence {
    background: cyan;
}

#directed_hate_speech {
    background: green;
}

#gender {
    background: lightpink;
}

#religion {
    background: orange;
}

#race {
    background: yellow;
}

#disability {
    background: pink;
}

#sexual_orientation {
    background: brown;
}

#national_origin {
    background: gray;
}

#not_hate_speech {
    background: lightgreen;
}
